<html>
<head>
    <title>CPSIC Test Server</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        a {
            display: block;
            color: blue;
            text-decoration: underline;
            cursor: pointer;
        }
        a.visited {
            color: blue;
        }
        .calendarRow {
            display: flex;
        }
        .timesRow{
            display:flex;
        }
        .timeslot {
            width:100px;
            height:25px;
            border:1px solid black;
            padding: 2px;
            text-align: center;
        }
        .calendarDay {
            width: 85px;
            height: 85px;
            border: 1px solid red;
            padding: 2px;
        }
        .appointment {
            margin-top: 5px;
        }
        form > *{
            margin: 5px 0px 5px 0px;
        }
        .bill {
            display:flex;
            width:60%;
        }
        .bill > p {
            width:100%;
        }
    </style>
</head>
<body>
    <div id="root">
        <a v-on:click.prevent="returnToMenu" v-if="currentPage!='menu' && currentPage!='login'">Return to menu</a>
        <div id="loginForm" v-if="currentPage=='login'">
            <p>Login:</p>
            <form>
                <label for="username">KSU ID: </label><input type="text" v-model="usernameInput" id="username" />
                <br />
                <label for="password">password: </label><input type="password" v-model="passwordInput" id="password" />
                <br />
                <button v-on:click.prevent="login">go</button>
            </form>
        </div>
        <div id="patientMenu" v-else-if="currentPage=='menu' && user.role=='patient'">
            <p>Welcome, {{user.name}}</p>
            <a v-on:click.prevent="toCalendar">View Your Appointment(s)</a>
            <a v-on:click.prevent="toBills">View Bills and Payments</a>
        </div>
        <div id="adminMenu" v-else-if="currentPage=='menu' && user.role=='administrator'">
            <p>Welcome, {{user.name}}</p>
            <a v-on:click.prevent="toCalendar">View Calendar</a>
            <a v-on:click.prevent="toBills">View Bills and Payments</a>
            <a href>View Stats</a>
        </div>
        <div v-else-if="currentPage=='calendar'">
            <p>{{new Date().toLocaleString('default', { month: 'long' })}}</p>
            <div class="calendarRow" v-for="week in calDays">
                <div class="calendarDay" v-for="day in week">
                    <div v-on:click="viewDay(day);">
                        {{day}} <a>{{getAppointmentCountString(day)}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div v-else-if="currentPage=='singleday'">
            <a v-on:click.prevent="toCalendar">Return to calendar</a>
            Schedule for {{shownDate.toDateString()}}
            <br />
            <template v-if="user.role!=='administrator'">
                <div class="appointment" v-for="app in appointmentsByDay[calDate]">
                    Patient: {{app.patient}}<br />
                    Clinician: {{app.clinician}}<br />
                    Time slot: {{new Date(app.timeSlot).toLocaleTimeString()}} - {{new Date(app.timeSlot+(30*60*1000)).toLocaleTimeString()}}<br />
                    <a v-on:click.prevent="cancelAppointment(app)">Cancel</a>
                    <br /><br />
                </div>
            </template>
            <template v-else>
                <div class="timesRow">
                    <div class="timeslot"></div>
                    <div class="timeslot" v-for="slot in shownDateTimeSlots">{{slot.time.toLocaleTimeString()}}</div>
                </div>
                <div class="timesRow" v-for="clinician in allClinicians">
                    <div class="timeslot">{{clinician}}</div>
                    <div class="timeslot" v-for="slot in shownDateTimeSlots">{{slot.appointments.some(a=>a.clinician==clinician)?'x':''}}</div>
                </div>
            </template>
        </div>
        <div class="ledger" v-else-if="currentPage=='bills'">
            <div class="bill"><p>Issued</p><p>Services Rendered</p><p>Amount</p></div>
            <div class="bill" v-for="bill in bills">
                <p>{{new Date(bill.timestamp).toLocaleString()}}</p>
                <p>{{bill.services}}</p>
                <p>${{bill.amount.toFixed(2)}}</p>
            </div>
        </div>
        <a v-on:click.prevent="logout" v-if="currentPage!='login'">Log Out</a>
    </div>
    <script>
        async function fetchJSON(url){
            let resp = await fetch(url);
            return await resp.json();
        }
        function calendarMath(month){
            const calDays = Array(35).fill("");
            const today = new Date();
            today.setMonth(month);
            today.setDate(1);
            const firstWeekday = today.getDay();
            today.setDate(0);
            const lastDay = today.getDate();
            for(let i=firstWeekday; i < firstWeekday+lastDay;i++){
                calDays[i] = i-firstWeekday+1;
            }
            return [calDays.slice(0,7),calDays.slice(7,14),calDays.slice(14,21),calDays.slice(21,28),calDays.slice(28,35)];
        }
        let cpsic = new Vue({
            el: "#root",
            data: {
                usernameInput: "",
                passwordInput: "",
                currentPage: "login",
                user: {},
                calDays: calendarMath(new Date().getMonth()),
                calMonth: new Date().getMonth(),
                calDate: 0,
                appointments: [],
                appointmentsByDay: [],
                bills: []
            },
            mounted: async function(){
                let userInit = await fetchJSON('/userinfo');
                if(userInit.error){
                    console.log("user not logged in");
                }else{
                    this.user = userInit;
                    this.currentPage = "menu";
                }
            },
            methods: {
                login: function(){
                    let username = this.usernameInput;
                    let password = this.passwordInput;
                    fetch('/login',{
                        method: 'POST',
                        body: JSON.stringify({username,password})
                    }).then(r=>r.json().then(async j=>{
                        console.log(j);
                        if(j.result=="success"){
                            this.user = await fetchJSON("/userinfo");
                            this.currentPage = "menu";
                            this.usernameInput = this.passwordInput = "";
                        }else{
                            window.alert("That username and password combination doesn't ring a bell - sorry")
                            this.passwordInput = "";
                        }
                    }));
                },
                logout: function(){
                    fetch("/logout");
                    window.location.reload();
                },
                returnToMenu: function(){
                    this.currentPage = "menu";
                },
                toCalendar: async function(){
                    this.currentPage = "calendar";
                    const apps = await fetchJSON("/appointments");
                    this.appointments = apps;
                    const day = new Date();
                    day.setMonth(this.calMonth);
                    day.setDate(0);
                    this.appointmentsByDay = [];
                    for(let i=0; i<day.getDate();i++){
                        this.appointmentsByDay.push([]);
                    }
                    for(const a of apps){
                        this.appointmentsByDay[new Date(a.timeSlot).getDate()].push(a);
                    }
                },
                getAppointmentCountString(date){
                    if(this.appointmentsByDay[date] && this.appointmentsByDay[date].length){
                        return "("+this.appointmentsByDay[date].length+" app.)";
                    }
                    return "";
                },
                viewDay(day){
                    if(day && this.appointmentsByDay[day] && this.appointmentsByDay[day].length){
                        this.calDate = parseInt(day);
                        this.currentPage = "singleday";
                    }
                },
                async cancelAppointment(app){
                    if(window.confirm("are you sure you want to cancel your appointment with "+app.clinician+" at "+new Date(app.timeSlot).toLocaleTimeString()+"?")){
                        await fetch('/cancel', {method: 'POST', body:JSON.stringify({id:app.id})});
                        this.toCalendar();
                    }
                },
                async toBills(){
                    this.currentPage = 'bills';
                    this.bills = await fetchJSON('/bills');
                }
            }, computed:{
                allClinicians(){
                    return Array.from(new Set(this.appointments.map(a=>a.clinician)));
                },
                shownDate(){
                    let d = new Date();
                    d.setDate(this.calDate);
                    d.setMonth(this.calMonth);
                    return d;
                },
                shownDateTimeSlots(){
                    let timeslots = [];
                    let d = this.shownDate;
                    d.setHours(10);
                    d.setMinutes(0);
                    d.setSeconds(0);
                    while(d.getHours() < 16){
                        dplus = new Date(d);
                        dplus.setMinutes(d.getMinutes()+30);
                        let appointments = this.appointments.filter(a=>a.timeSlot>=d.getTime() && a.timeSlot < dplus.getTime());
                        timeslots.push({time: d, appointments});
                        d = dplus;
                    }
                    return timeslots;
                }
            }
        })
    </script>
</body>
</html>